# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
.idea/
*.xcuserstate

# Swift Package Manager
Packages
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build

# Accio dependency manager
Dependencies/
.accio/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/bin

# Code coverage
*.xcovreport
*.xccovarchive
*.xccovreport
*.xcresult

# Provisioning profiles
*.mobileprovision

# Symbolication
*.dSYM.zip
*.dSYM

# App settings
*.xcworkspace
*.xcworkspace/contents.xcworkspacedata
*.xcworkspace/xcuserdata
*.xcuserdatad
*.xcuserstate


# Other
*.hmap
*.ipa
*.app
*.lock
*.DS_Store
*.swp
*~
